mixin SliderClassic
  -
    var sliderData = [
      {
        title: "More livable spaces",
        subtitle: "AvePoint Richmond",
        img: 'header_1.jpg',
        btnText: "View Case Study",
        link: '#!'
      },
      {
        title: "Luxurious Apartment",
        subtitle: "French Valley",
        img: 'header_2.jpg',
        btnText: "More about Freya",
        link: '#!'
      },
      {
        title: "Sorption Marking Studio",
        subtitle: "Upper Chesterfield",
        img: 'header_3.jpg',
        btnText: "More about Sorption",
        link: '#!'
      }
    ]
  section.py-0
    .swiper.theme-slider.min-vh-70(data-swiper!={
      loop: true,
      allowTouchMove: false,
      effect: 'fade',
      speed: 800
    })
      .swiper-wrapper 
        each value in sliderData 
          +Slider(value)

      .swiper-nav
        .swiper-button-prev
          span.fas.fa-chevron-left
        .swiper-button-next
          span.fas.fa-chevron-right

mixin Slider(config) 
  .swiper-slide.d-flex.align-items-center.d-sm-block(data-zanim-timeline!={})
    +Background({ image: `${CWD}assets/img/${config.img}`, className: "overlay overlay-freya", attrs: {"data-parallax": true} })
    .container
      .row.min-vh-70.justify-content-start.align-items-end.pt-11.pb-6.text-white(data-zanim-timeline!={})
        .col
          .row.align-items-end
            .col-lg
              .overflow-hidden
                p.mb-1.text-uppercase.ls(data-zanim-xs!={from: {opacity: 0, x: -30}, to: {opacity: 1, x: 0}, delay: 0.1})=config.subtitle
              .overflow-hidden
                h2.text-white.fw-normal.mb-4.mb-lg-0(data-zanim-xs!={from: {opacity: 0, x: -30}, to: {opacity: 1, x: 0}, delay: 0.0})=config.title
            .col.text-lg-end
              .overflow-hidden
                div(data-zanim-xs!={from: {opacity: 0, x: -30}, to: {opacity: 1, x: 0}, delay: 0.2})
                  a(href=`${config.link}`).btn.btn-sm.btn-outline-white=config.btnText