mixin Associates 
  - 
    var members = [
      {
        name: "Shane Cotter",
        designation: "Associate, IT",
        img: "portrait-1.jpg"
      },
      {
        name: "Kathryn Wilson",
        designation: "Associate, Development",
        img: "portrait-2.jpg"
      },
      {
        name: "Thomas Anders",
        designation: "Associate, Architecture",
        img: "portrait-3.jpg"
      }
    ]
  +Section.text-center.pb-8 
    h2 Our Associates
    p.text-black Working hard to get the thing done

    .row.justify-content-center.mt-6
      .col-lg-11
        .row 
          each member, index in members 
            - var isLast = index === members.length - 1
            +AssociationMember(member, isLast)



mixin AssociationMember(config, isLast)
  .col-lg-4(class=`${!isLast ? "mb-5 mb-lg-0" : ""}`)
    img(src=`${CWD}assets/img/${config.img}` class="img-fluid" alt=`${config.name}`)
    h5.text-black.mt-4.mb-1=config.name
    p.mb-0=config.designation